<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/client/css/layout_left.css}">
    <link rel="stylesheet" th:href="@{/client/css/layout_right.css}">
    <link rel="stylesheet" th:href="@{/client/css/layout.css}">
    <link rel="stylesheet" th:href="@{/client/font_d755ntejev/iconfont.css}">
    <link rel="stylesheet" th:href="@{/client/font_fvgpcvhbwq6/iconfont.css}">
    <link rel="stylesheet" th:href="@{/client/font_9qdbj8xb6n/iconfont.css}">
    <link rel="stylesheet" th:href="@{/client/alibaba/font_3zajdhjqmf4/iconfont.css}">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script th:src="/client/js/left.js}"></script>
</head>
<body>
<div id="main">
    <article class="main-ar btn-wrapper">
        <header class="btn-wrapper__container">
            <div class="btn-inner">
                <h2>
                    <a href="javascript:$('#main').load('./article.html')">个人网站第七次改版</a>
                </h2>
                <p>我每年都会重新设计与开发一次自己的个人网站，每次改版都会整理自己在过去一年里所学到的东西并与大家分享。迟到了三年的第七版，终于在今天正式上线。</p>
                <span>
                    <time> 12 个月前</time>
                    发布 | 48 条评论
                </span>
            </div>
        </header>
    </article>
    <article class="main-ar btn-wrapper">
        <header class="btn-wrapper__container">
            <div class="btn-inner">
                <h2>
                    <a href="#">个人网站第七次改版</a>
                </h2>
                <p>我每年都会重新设计与开发一次自己的个人网站，每次改版都会整理自己在过去一年里所学到的东西并与大家分享。迟到了三年的第七版，终于在今天正式上线。</p>
                <span>
                    <time> 12 个月前</time>
                    发布 | 48 条评论
                </span>
            </div>
        </header>
    </article>
    <article class="main-ar btn-wrapper">
        <header class="btn-wrapper__container">
            <div class="btn-inner">
                <h2>
                    <a href="#">个人网站第七次改版</a>
                </h2>
                <p>我每年都会重新设计与开发一次自己的个人网站，每次改版都会整理自己在过去一年里所学到的东西并与大家分享。迟到了三年的第七版，终于在今天正式上线。</p>
                <span>
                    <time> 12 个月前</time>
                    发布 | 48 条评论
                </span>
            </div>
        </header>
    </article>
    <article class="main-ar btn-wrapper">
        <header class="btn-wrapper__container">
            <div class="btn-inner">
                <h2>
                    <a href="#">个人网站第七次改版</a>
                </h2>
                <p>我每年都会重新设计与开发一次自己的个人网站，每次改版都会整理自己在过去一年里所学到的东西并与大家分享。迟到了三年的第七版，终于在今天正式上线。</p>
                <span>
                    <time> 12 个月前</time>
                    发布 | 48 条评论
                </span>
            </div>
        </header>
    </article>
    <article class="main-ar btn-wrapper">
        <header class="btn-wrapper__container">
            <div class="btn-inner">
                <h2>
                    <a href="#">个人网站第七次改版</a>
                </h2>
                <p>我每年都会重新设计与开发一次自己的个人网站，每次改版都会整理自己在过去一年里所学到的东西并与大家分享。迟到了三年的第七版，终于在今天正式上线。</p>
                <span>
                    <time> 12 个月前</time>
                    发布 | 48 条评论
                </span>
            </div>
        </header>
    </article>
    <nav class="button">
        <ul>
            <!--<li class="button"></li>-->
            <li>
                <a href="#">
                    下一页
                    <i class="iconfont icon-xiayiye"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="clearfloat"></div>
</div>
</body>
</html>